@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #381952;
  font-family: Mulish;
}
.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
}

.filler {
  height: 20px;
  background-color: #3b82f6;
  transition: width 0.5s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
[data-tc-connect-button="true"]{
  padding: 7px;
  height: 35px;
}
[data-tc-connect-button="true"] svg{
  display: none;
}
[data-tc-text="true"]{
  font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
}
